[project]
	description = Plan 9 from Bell Labs, with external contributions.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/David du Colombier (0intro)
[access "refs/for/refs/*"]
	read = group user/David du Colombier (0intro)
	push = group user/David du Colombier (0intro)
	label-Code-Review = -2..+2 group user/David du Colombier (0intro)
	label-Verified = -1..+1 group user/David du Colombier (0intro)
	rebase = group user/David du Colombier (0intro)
	removeReviewer = group user/David du Colombier (0intro)
	submit = group user/David du Colombier (0intro)
[access "refs/heads/*"]
	read = group user/David du Colombier (0intro)
	create = group user/David du Colombier (0intro)
	push = +force group user/David du Colombier (0intro)
	pushMerge = group user/David du Colombier (0intro)
[access "refs/tags/*"]
	push = +force group user/David du Colombier (0intro)
	pushTag = group user/David du Colombier (0intro)
	pushSignedTag = group user/David du Colombier (0intro)
