#!/bin/rc

. ./util.rc

rm -fr scratch
mkdir -p scratch/noam

echo @@ noam test @@
@{
	cd scratch/noam
	q git/init
	touch a
	q git/add a
	q git/commit -m 'add a' a
	rm a
	mkdir a
	touch a/b

	q git/add a/b
	q git/commit -m 'switch to folder' a a/b
}
