#!/bin/rc

. ./util.rc

rm -fr scratch
mkdir scratch

echo @@ rebase test @@
@{
	cd scratch
	q git/init
	q echo a >a; git/add a; git/commit -m a a

	q git/branch -n front-test
	echo c >c;
	q git/add c
	q git/commit -m c c

	q git/branch front
	echo b >b;
	q git/add b
	q git/commit -m b b

	git/branch front-test
	git/rebase front | rc
}
