fn q {
	{$* > /tmp/out.$pid && rm /tmp/out.$pid} || cat /tmp/out.$pid
}
fn qq {
	$* >/dev/null >[2]/dev/null
}

fn die {
	st=$status
	if(! ~ $st ''){
		*=($* : $st)
		echo $"*
		exit $"*
	}
}

rfork n
bind $cputype.git /bin/git
